.primary-nav{
    padding-top: 10px;

    @mixin atMedium{
        padding-top: 0;
    }


    ul{
        padding: 0;
        margin: 0;
    }

    li{
        list-style: none;
        display: inline-block;
        padding-right: 7px;

        @mixin atMedium{
            padding-right: 20px;
        }
    }

    li:last-child{
        padding-right: 0;

        @mixin atMedium{
            padding-right: 20px;
        }
    }

    a{
        color: #FFF;
        text-decoration: none;
        display: block;
        padding: 5px 8px;
        background-color: rgba($mainBlue, .5);
        font-size: .8rem;

        @mixin atMedium{
            font-size: 1rem;
            padding: 12px 0;
            background-color: transparent;
        }
    }
}